$font-family: Helvetica, sans-serif;
$primary-color: #4a96d9;
$secondary-color: #c4d4f2;
$bg-color: #e0e0e0ce;
$interactives-color: #03588c;

$border_radius_boxes: 20px;

body {
  margin: 0;
  font-family: $font-family;
}

nav {
  height: 10vh;
  background-color: $primary-color;
  margin-bottom: 20px;
  width: 100vw;

  ul {
    list-style: none;
    height: 100%;
    margin: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .icon {
    color: $interactives-color;
  }
}

.app {
  background-color: $bg-color;
  font-size: 16px;
  font-weight: 400;

  .footerInfo {
    position: fixed;
    left: 10px;
    bottom: 10px;
    color: rgba(black, 0.4);
  }

  .main {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    min-height: 100vh;

    .loadingBox {
      position: absolute;
      top: 10vh;
      left: 20vw;
      width: 20px;
      height: 20px;
      background-color: black;
      animation-name: loading;
      animation-iteration-count: infinite;
      animation-duration: 2s;
      grid-column: 2/3;
    }

    .postWall {
      grid-column: 2/3;

      .todoBox {
        position: fixed;
        right: 50px;
        top: 15vh;
        background-color: $secondary-color;
        min-height: 40vh;
        width: 30%;
        max-height: 80vh;
        border-radius: $border_radius_boxes;
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        visibility: hidden;

        &::-webkit-scrollbar {
          display: none;
        }

        .todo {
          margin-bottom: 40px;

          ul {
            padding-left: 30px;
            font-size: 1rem;
            list-style: none;

            li::before {
              content: "\2022";
              display: inline-block;
              font-weight: bold;
              width: 1rem;
              margin-left: -1.2em;
            }
          }

          .todoTitle {
            display: flex;
            justify-content: center;
            font-weight: bold;
            font-size: 2rem;
            margin: 15px 5px;
          }
          .task {
            font-variant-caps: small-caps;
          }

          .completedTask::before {
            color: green;
          }

          .uncompletedTask {
            color: grey;
            text-decoration: line-through;

            &::before {
              color: red;
            }
          }
        }
      }
      .visible {
        visibility: visible;
      }
    }
  }
}

.post {
  background-color: rgba($primary-color, 0.4);
  grid-column: 2/3;
  padding: 10px;
  border-radius: $border_radius_boxes;
  height: 30vh;

  .top {
    height: auto;
    font-size: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: 5fr 1fr auto;
    padding: 2px;

    .name {
      font-style: normal;
      font-weight: bold;
      text-align: center;
      font-size: 1.2rem;
      margin: auto;
      margin-left: 5px;
      grid-row-start: 1;
      grid-column-start: 2;
    }

    .title {
      grid-row-start: 3;
      grid-column: 1/4;
    }

    span {
      font-style: italic;
      margin-left: 5px;
    }

    img {
      width: 64px;
      height: 64px;
      border-radius: 32px;
    }
  }

  .descripton {
    font-size: 0.8rem;
  }
}

.postCommentsBox {
  position: relative;
  top: -120px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  background-color: rgba(black, 0.1);
  margin-left: 20px;
  border-radius: 20px;
  padding: 20px;

  .comment {
    border: 1px solid rgba(black, 0.1);
    box-shadow: 2px 2px 20px 5px rgba(black, 0.1);
    margin-bottom: 10px;
    padding: 10px;
  }
}

.onHoverPost {
  position: relative;
  top: -20vh;
  visibility: hidden;
  display: flex;
  font-size: 2rem;
  justify-content: space-around;
  border-radius: $border_radius_boxes;
  height: 15vh;
  align-items: center;
  text-align: center;

  &.active {
    background-color: rgba($primary-color, 0.1);
    visibility: visible;
    animation: hoverAnimation 1.5s ease-out;
    opacity: 0.9;
  }
  .icon:hover {
    animation: moving 0.8s ease-out;
    animation-delay: 0.2s;
  }
}

@keyframes hoverAnimation {
  from {
    opacity: 0;
    background-color: rgba($primary-color, 0);
  }
  to {
    opacity: 0.9;
    background-color: rgba($primary-color, 0.1);
  }
}

@keyframes moving {
  0% {
    transform: rotate3d(0, 0, 0, 0deg);
  }
  100% {
    transform: rotate3d(0, 0, 1, 720deg);
  }
}

@keyframes loading {
  0% {
    top: 20%;
    left: 45%;
  }
  25% {
    top: 20%;
    left: 55%;
  }
  50% {
    top: 40%;
    left: 55%;
  }
  75% {
    top: 40%;
    left: 45%;
  }
  100% {
    top: 20%;
    left: 45%;
  }
}
